:root {
    --header-left: 8;
    --header-right: 2;
}

body {
    background: url('../img/profile-dark.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000010;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Header & Introduction */
.intro {
    padding: 2%;
    display: flex;
    align-items: stretch;
    width: 100%;
}

.intro-left {
    padding: 2%;
    /* background-color: red; */
    flex-grow: var(--header-left);
}

.intro-right {
    padding: 2%;
    /* background-color: darkcyan; */
    flex-grow: var(--header-right);
}

.intro-mainname {
    font-family: Copperplate, Papyrus, fantasy;
}

.intro-sidename {
    font-family: "Brush Script MT", cursive;
}

.intro-logo {
    width: 5vw;
    height: auto;
}

/* Body Content */
.content-template {
    text-align: left;
}

.content-template-group-list {
    border: 1px solid;
    border-width: 0 0 2px;
}

/* Footer */
.footer {
    width: 100%;
    margin: auto;
    text-emphasis: none;
    text-align: center;
    padding: 15%;
}

/* Common */
img.logo {
    width: 64px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #0af;
}

a.linked {
    text-decoration: none;
    color: #FFFFFF;
}

a.linked:hover {
    background-color: green;
}

.centralize {
    text-align: center;
}

img.Explogo {
    width: 25vw;
    height: auto;
}

.gap {
    padding: 3% 3% 3% 3%;
}

.bold {
    font-weight: bold;
}

.full {
    width: 100%;
}

.fullbar {
    background-color: #555555;
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin: auto;
    opacity: 0.8;
}

.progressbar {
    width: 1%;
    height: 20px;
    background-color: #00cc22;
    border-radius: 25px;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    opacity: 0.5;
    text-shadow: 2px 2px #1c5be2;

}

.black-container {
    padding: 5%;
    margin: auto;
    width: 80vw;
    text-align: center;
    background-color: #000000;
    border-radius: 25px;
    opacity: 0.6;
}